
	 
	 .makeMeDraggable100 { 
		width: 568px;
		height: 427px;
		margin-top: -325px;	
		margin-left: 20%;	
		margin-right: 80%;
		background-image: url("images/multi/1.png");
		background-repeat: no-repeat;
		position: relative;
				cursor: pointer;

	 }
	 
	  .makeMeDraggable101 { 
		width: 632px;
		height: 335px;
		margin-left: 0%;	
		margin-right: 100%;	
		margin-top: 25px;	
		background-image: url("images/multi/2.png");
		background-repeat: no-repeat;
		position: relative;
				cursor: pointer;

	 }
	 
	 .makeMeDraggable102 { 
		width: 142px;
		height: 256px;
		margin-left: 65%;	
		margin-right: 35%;
		margin-top: -100px;	
		background-image: url("images/multi/3.png");
		background-repeat: no-repeat;
		position: relative;
				cursor: pointer;

	 }
	 
	 .makeMeDraggable103 { 
		width: 158px;
		height: 314px;
		margin-left: 50%;	
		margin-right: 50%;	
		margin-top: -750px;	
		background-image: url("images/multi/4.png");
		background-repeat: no-repeat;
		position: relative;
				cursor: pointer;

	 }
	 
	  .makeMeDraggable104 { 
		width: 177px;
		height: 164px;
		margin-top: -225px;	
		margin-left: 40%;	
		margin-right: 60%;		
		background-image: url("images/multi/5.png");
		background-repeat: no-repeat;
		position: relative;
				cursor: pointer;

	 }
	 
	  .makeMeDraggable105 { 
		width: 186px;
		height: 268px;
		margin-left: 25%;	
		margin-right: 75%;	
		margin-top: 25px;	
		background-image: url("images/multi/6.png");
		background-repeat: no-repeat;
		position: relative;
				cursor: pointer;

	 }
	 
	 .makeMeDraggable106 { 
		width: 175px;
		height: 246px;
		mmargin-left: 33%;	
		margin-right: 67%;
		margin-top: -100px;	
		background-image: url("images/multi/7.png");
		background-repeat: no-repeat;
		position: relative;
				cursor: pointer;

	 }
	 
	 .makeMeDraggable107 { 
		width: 466px;
		height: 404px;
		margin-left: 45%;	
		margin-right: 55%;
		margin-top: -750px;	
		background-image: url("images/multi/8.png");
		background-repeat: no-repeat;
		position: relative;
				cursor: pointer;

	 }
	 
	 .makeMeDraggable108 { 
		width: 206px;
		height: 217px;
		margin-top: 125px;	
		margin-left: 55%;	
		margin-right: 45%;
		background-image: url("images/multi/9.png");
		background-repeat: no-repeat;
		position: relative;
				cursor: pointer;

	 }
	 
	  .makeMeDraggable109 { 
		width: 429px;
		height: 466px;
		margin-left: 60%;	
		margin-right: 40%;	
		margin-top: -200px;	
		background-image: url("images/multi/10.png");
		background-repeat: no-repeat;
		position: relative;
				cursor: pointer;

	 }
	 
	 .makeMeDraggable110 { 
		width: 134px;
		height: 134px;
		margin-left: 80%;	
		margin-right: 20%;
		margin-top: -100px;	
		background-image: url("images/multi/11.png");
		background-repeat: no-repeat;
		position: relative;
				cursor: pointer;

	 }
	 
	 .makeMeDraggable111 { 
		width: 127px;
		height: 128px;
		margin-left: 90%;	
		margin-right: 10%;
		margin-top: -250px;	
		background-image: url("images/multi/12.png");
		background-repeat: no-repeat;
		position: relative;
				cursor: pointer;

	 }
	 
	  .makeMeDraggable112 { 
		width: 184px;
		height: 223px;
		margin-top: -225px;	
		margin-left: 75%;	
		margin-right: 25%;
		background-image: url("images/multi/13.png");
		background-repeat: no-repeat;
		position: relative;
				cursor: pointer;

	 }
	 
	  .makeMeDraggable113 { 
		width: 325px;
		height: 237px;
		margin-left: 65%;	
		margin-right: 35%;	
		margin-top: -50px;	
		background-image: url("images/multi/14.png");
		background-repeat: no-repeat;
		position: relative;
				cursor: pointer;

	 }
	 
	 .makeMeDraggable114 { 
		width: 266px;
		height: 106px;
		margin-left: 70%;	
		margin-right: 30%;
		margin-top: 10px;	
		background-image: url("images/multi/15.png");
		background-repeat: no-repeat;
		position: relative;
				cursor: pointer;

	 }
	 
	 .makeMeDraggable115 { 
		width: 391px;
		height: 454px;
		margin-left: 0%;	
		margin-right: 100%;
		margin-top: -650px;	
		background-image: url("images/multi/16.png");
		background-repeat: no-repeat;
		position: relative;
				cursor: pointer;

	 }
