
	 
	 .makeMeDraggable8 { 
		width: 158px;
		height: 314px;
		margin-left: 600px;	
		margin-top: -750px;	
		background-image: url("images/multi/4.png");
		background-repeat: no-repeat;
		position: relative;
		
	 }
	 
	  .makeMeDraggable9 { 
		width: 177px;
		height: 164px;
		margin-top: -225px;	
		margin-left: 750px;	
		background-image: url("images/multi/5.png");
		background-repeat: no-repeat;
		position: relative;
		
	 }
	 
	  .makeMeDraggable10 { 
		width: 186px;
		height: 268px;
		margin-left: 10px;	
		margin-top: 25px;	
		background-image: url("images/multi/6.png");
		background-repeat: no-repeat;
		position: relative;
		
	 }
	 
	 .makeMeDraggable11 { 
		width: 175px;
		height: 246px;
		margin-left: 700px;	
		margin-top: -100px;	
		background-image: url("images/multi/7.png");
		background-repeat: no-repeat;
		position: relative;
		
	 }
	 
	 .makeMeDraggable12 { 
		width: 466px;
		height: 404px;
		margin-left: 800px;	
		margin-top: -750px;	
		background-image: url("images/multi/8.png");
		background-repeat: no-repeat;
		position: relative;
		
	 }
	 
	 .makeMeDraggable13 { 
		width: 206px;
		height: 217px;
		margin-top: -525px;	
		margin-left: 950px;	
		background-image: url("images/multi/9.png");
		background-repeat: no-repeat;
		position: relative;
		
	 }
	 
	  .makeMeDraggable14 { 
		width: 429px;
		height: 466px;
		margin-left: 200px;	
		margin-top: -200px;	
		background-image: url("images/multi/10.png");
		background-repeat: no-repeat;
		position: relative;
		
	 }
	 
	 .makeMeDraggable15 { 
		width: 134px;
		height: 134px;
		margin-left: 300px;	
		margin-top: -100px;	
		background-image: url("images/multi/11.png");
		background-repeat: no-repeat;
		position: relative;
		
	 }
	 
	 .makeMeDraggable16 { 
		width: 127px;
		height: 128px;
		margin-left: 600px;	
		margin-top: -550px;	
		background-image: url("images/multi/12.png");
		background-repeat: no-repeat;
		position: relative;
		
	 }
	 
	  .makeMeDraggable17 { 
		width: 184px;
		height: 223px;
		margin-top: -225px;	
		margin-left: 750px;	
		background-image: url("images/multi/13.png");
		background-repeat: no-repeat;
		position: relative;
		
	 }
	 
	  .makeMeDraggable18 { 
		width: 325px;
		height: 237px;
		margin-left: 10px;	
		margin-top: -50px;	
		background-image: url("images/multi/14.png");
		background-repeat: no-repeat;
		position: relative;
		
	 }
	 
	 .makeMeDraggable19 { 
		width: 266px;
		height: 106px;
		margin-left: 300px;	
		margin-top: 10px;	
		background-image: url("images/multi/15.png");
		background-repeat: no-repeat;
		position: relative;
		
	 }
	 
	 .makeMeDraggable20 { 
		width: 391px;
		height: 454px;
		margin-left: 250px;	
		margin-top: -650px;	
		background-image: url("images/multi/16.png");
		background-repeat: no-repeat;
		position: relative;
		
	 }
