@media print{

	 body, html {
	margin-top: 15mm;
	margin-bottom: 10px;
	padding-right: 5px;
	padding-left: 16px;
	
	}
	

  
	.titel{
	width: 100%;
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-right:auto;
    margin-left: auto;	
	font-family: 'Work Sans', sans-serif;	
	letter-spacing:0px;
	clear: both;
}

	.subtitel{
	width: 80%;
	background-repeat: no-repeat;
	margin-right:auto;
	margin-top: 0px;
    margin-left: auto;	
    margin-bottom: 50px;
	font-family: 'Work Sans', sans-serif;	
	clear: both;
}
	

	#multicover{
	background-image: url("images/multi/9.png");
	background-repeat: no-repeat;
	margin-bottom:0px;
	}

	 .makeMeDraggable100 { 
		display: none;
	 }
	 
	  .makeMeDraggable101 { 
		display: none;
	 }
	 
	  .makeMeDraggable102 { 
		display: none;
	 }
	 
	  .makeMeDraggable103 { 
		display: none;
	 }
	  .makeMeDraggable104 { 
		display: none;
	 }
	  .makeMeDraggable105 { 
		display: none;
	 }
	 
	 .makeMeDraggable106 { 
		display: none;
	 }
	 
	  .makeMeDraggable107 { 
		display: none;
	 }
	 
	  .makeMeDraggable108 { 
		display: none;
	 }
	 
	  .makeMeDraggable109 { 
		display: none;
	 }
	  .makeMeDraggable110 { 
		display: none;
	 }
	  .makeMeDraggable111 { 
		display: none;
	 }
	   .makeMeDraggable112 { 
		display: none;
	 }
	  .makeMeDraggable113 { 
		display: none;
	 }
	   .makeMeDraggable114 { 
		display: none;
	 }
	  .makeMeDraggable115 { 
		display: none;
	 }
	 
	#menu{
	display: none;
	}

	.footer{
	display: none;
	}
	
	h1 {
	font-size: 80px;
	line-height: 68px;
	font-weight: normal;
	margin-left: auto;	
	margin-right: auto;	
	text-align: center;
		
}



h2 {
	font-size: 30px;
	line-height: 28pt;
	font-weight: normal;
	margin-left: auto;	
	margin-right: auto;	
	text-align: center;
}

.hoofdstuk{
	width: 100%;
	margin-right:auto;
    margin-left: auto;	
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	letter-spacing:1px;
	line-height: 18pt;
	page-break-after: always;

}

.hoofdstuktitel{
	width: 60%;
	margin-left: 5%;
	margin-top: 0px;
	font-size: 20px;
	line-height: 20pt;
	font-weight: normal;
		page-break-after: always;

}



#inhoud1{
	width: 60%;
	padding-top: 0px;
    margin-bottom: 0px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 11px;
	letter-spacing:0px;
	line-height: 12pt;
	/*float: left;*/
		page-break-after: always;

	
}

#inhoud2{
	width: 60%;
	padding-top: 0px;	
    margin-bottom: 0px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 11px;
	letter-spacing:0px;
	line-height: 12pt;
	/*float: left;*/
		page-break-after: always;


}

#inhoud3{
	width: 60%;
	padding-top: 0px;	
    margin-bottom: 0px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 11px;
	letter-spacing:0px;
	line-height: 12pt;
	/*float: left;*/
		page-break-after: always;


}

#inhoud4{
	width: 60%;
	padding-top: 0px;	
    margin-bottom: 0px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 11px;
	letter-spacing:0px;
	line-height: 12pt;
	/*float: left;*/
		page-break-after: always;



}

#inhoud5{
	width: 60%;
	padding-top: 0px;	
    margin-bottom: 0px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 11px;
	letter-spacing:0px;
	line-height: 12pt;
	/*float: left;*/
		page-break-after: always;


}

#inhoud6{
	width: 60%;
	padding-top: 0px;	
    margin-bottom: 0px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 11px;
	letter-spacing:0px;
	line-height: 12pt;
	/*float: left;*/
		page-break-after: always;



}

#inhoud7{
	width: 60%;
	padding-top: 0px;	
    margin-bottom: 0px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 11px;
	letter-spacing:0px;
	line-height: 12pt;
	/*float: left;*/
		page-break-after: always;



}

#inhoud8{
	width: 60%;
	padding-top: 0px;	
    margin-bottom: 0px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 11px;
	letter-spacing:0px;
	line-height: 12pt;
	/*float: left;*/
		page-break-after: always;



}

#inhoud9{
	width: 60%;
	padding-top: 0px;	
    margin-bottom: 0px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 11px;
	letter-spacing:0px;
	line-height: 12pt;
	/*float: left;*/
		page-break-after: always;


}

#footnote{
	width: 100%;
	margin-right:auto;
    margin-left: auto;
    margin-bottom: 20px;
    margin-top: 20px;
	font-family: 'Work Sans', sans-serif;	
	font-size: 11px;
	letter-spacing:0px;
	line-height: 12pt;
	
}

.image{
	width: 16%;
	margin-top: 0px;
    margin-left: 100px;	
    margin-bottom: 0px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 16px;
	letter-spacing:1px;
	line-height: 18pt;	
	float: left;
		page-break-after: always;

	
}

.quote {
	margin-left: 10%;
	  margin-top: 30px;
	  margin-bottom: 30px;
	  font-size: 11px;
	letter-spacing:0px;
	line-height: 12pt;
	
}

.footertitelbottom{
	display: none;
}

.footertiteltop{
		display: none;

}

}