#makeMeDraggable1 { 
		width: 200px;
		height: 302px;
		margin-top: 10px;
		margin-left: 550px;
		background-image: url("http://kabk.github.io/govt-theses-16-john-van-der-meule/images/1.jpg");
		position: absolute;
	 }
	 
	 #makeMeDraggable2 { 
		width: 100px;
		height: 149px;
		margin-top: 120px;
		margin-left: 670px;
		background-image: url("http://kabk.github.io/govt-theses-16-john-van-der-meule/images/2.jpg");
		position: absolute;
	 }
	 
	 #makeMeDraggable3 { 
		width: 230px;
		height: 153px;
		margin-top: 250px;
		margin-left: 10px;
		background-image: url("http://kabk.github.io/govt-theses-16-john-van-der-meule/images/3.jpg");
		position: absolute;
	 }
	 #makeMeDraggable4 { 
		width: 80px;
		height: 117px;
		margin-top: 300px;
		margin-left: 450px;	
		background-image: url("http://kabk.github.io/govt-theses-16-john-van-der-meule/images/4.jpg");
		position: absolute;
	 }
	 
	 #makeMeDraggable5 { 
		width: 250px;
		height: 318px;
		margin-top: 500px;
		margin-left: 370px;
		background-image: url("http://kabk.github.io/govt-theses-16-john-van-der-meule/images/5.jpg");
		position: absolute;
	 }
	 #makeMeDraggable6 { 
		width: 50px;
		height: 73px;
		margin-top: 200px;
		margin-left: 200px;
		background-image: url("http://kabk.github.io/govt-theses-16-john-van-der-meule/images/6.jpg");
		position: absolute;
	 }
	 


.header{
	width: 700px;
	margin-top: 80px;
	margin-left: 50px;	
	font-family: Univers LT Std;
	font-size: 20px;
	float: left;

		

}



.question{
	width: 450px;
	margin-top: 60px;
	margin-left: 60px;	
	font-family: Univers LT Std;
	font-size: 20px;
	float: left;

}

h1 {
	font-size: 30px
}

h2 {
	font-size: 20px
}

::-moz-selection {
    background-color: #00ffcc;
    color: #000;
}
 
::selection {
    background-color: #00ffcc;
    color: #000;
}
