
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 24px;
  height: 24px;
}
::-webkit-scrollbar-thumb {
  background: #00ffcc;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00ffcc;
}
::-webkit-scrollbar-thumb:active {
  background: #00ffcc;
}
::-webkit-scrollbar-track {
  background: #FFFFFF;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #FFFFFF;
}
::-webkit-scrollbar-track:active {
  background: #FFFFFF;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
	 
#sidetitel{
	width: 550px;
	height: 23px;
	font-family: 'Arimo', sans-serif;
	letter-spacing:1px;	
    margin: auto;
  	top: 0; left: -850px; bottom: 0; right: 0;	
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	position: fixed;
	text-transform: uppercase;
	
	
}
	 
#titel{
	width: 750px;
	margin-top: -30px;
	margin-bottom: 200px;
	margin-right:auto;
    margin-left: auto;
	font-family: 'Arimo', sans-serif;	
	font-size: 16px;
	letter-spacing:1px;
	line-height: 16pt;
}

#voorwoord{
	width: 700px;
	margin-top: -50px;
	margin-right:auto;
    margin-left: auto;	
	font-family: 'Arimo', sans-serif;	
	font-size: 16px;
	letter-spacing:1px;
	line-height: 16pt;
}

#inleiding{
	width: 700px;
	margin-right:auto;
    margin-left: auto;
	font-family: 'Arimo', sans-serif;	
	font-size: 16px;
	letter-spacing:1px;
	line-height: 16pt;
}


.onderschrift{
	width: 250px;
	margin-top: 150px;
	margin-left: 120px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	position: absolute;
	letter-spacing:1px;
	font-size: 10px;
	line-height: 10pt;
	

}

.footer{
font-family: 'Arimo', sans-serif;	
position: fixed;
bottom: 15px;
text-align: right;
right: 15px;
width: 250px;
font-size: 10px;
line-height: 10pt;
letter-spacing: 0.04em;
padding-left: 15px;
}

	.makeMeDraggable1 { 
		width: 250px;
		height: 302px;
		margin-left: auto;	
		margin-right: auto;	
		background-image: url("http://kabk.github.io/govt-theses-16-john-van-der-meule/images/1.jpg");
		background-repeat: no-repeat;
		position: related;
		
	 }
	
u2 { border-bottom: solid 2px #00ffcc;
	
 }

P { 
	text-indent: 30px;
	 }
	 


h1 {
	font-size: 30px;
	line-height: 28pt;

	letter-spacing:1px;
	text-align: center;

}

h2 {
	font-size: 80px;
	line-height: 68pt;
	font-weight: normal;
	letter-spacing:1px;
	text-align: center;
}

::-moz-selection {
    background-color: #00ffcc;
    color: #000;
}
 
::selection {
    background-color: #00ffcc;
    color: #000;
}
