<!-- PRINT -->

@media print {
   #menu {
    display: none;
    }
    
    #menu li {
    display: none;
    }

 .footer {
    display: none;
    }

.sidetitle{
    display: none;
    }
    

  
}



















body, html {
 	height: 80%;
  	margin-top: 45px;
	margin-bottom: 0px;
	padding-right: 0%;
	padding-left: 35px;
}



#multicover{
	height: 100%;
	margin-top: 100px;
	padding-top: 250px;
	margin-bottom: 200px;
	margin-right:auto;
    margin-left: auto;
	font-family: 'Arimo', sans-serif;	
	font-size: 16px;
	letter-spacing:1px;
	line-height: 16pt;
}

	 
.titel{
	width: 55%;
	margin-top: 100px;
	margin-right:auto;
    margin-left: auto;	
	font-family: 'Work Sans', sans-serif;	
	letter-spacing:0px;
	float: left;
}

.subtitel{
	width: 25%;
	margin-top: 250px;
	margin-right:auto;
    margin-left: auto;	
    padding-left: 10%;	
	font-family: 'Work Sans', sans-serif;	
	float: left;
}

.hoofdstuk{
	width: 100%;
	margin-top: -50px;
	margin-right:auto;
    margin-left: auto;	
    margin-bottom: 80px;	
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	letter-spacing:1px;
	line-height: 18pt;
}

.hoofdstuktitel{
	width: 55%;
	margin-left: 5%;
	padding-top: 80px;
	font-size: 40px;
	line-height: 40pt;
	font-weight: normal;
	float: left;

}

.inhoud	{
	width: 55%;
	
	padding-top: 60px;
	margin-right:auto;
    margin-left: auto;	
    margin-bottom: 80px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 16px;
	letter-spacing:0px;
	line-height: 18pt;
	float: left;
}

#inhoud1{
	width: 55%;
	padding-top: 50px;	
    margin-bottom: 80px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 16px;
	letter-spacing:0px;
	line-height: 18pt;
	float: left;
	
}

#inhoud2{
	width: 55%;
	padding-top: 50px;	
    margin-bottom: 80px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 16px;
	letter-spacing:0px;
	line-height: 18pt;
	float: left;
}

#inhoud3{
	width: 55%;
	padding-top: 50px;	
    margin-bottom: 80px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 16px;
	letter-spacing:0px;
	line-height: 18pt;
	float: left;
}

#inhoud4{
	width: 55%;
	padding-top: 50px;		
    margin-bottom: 80px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 16px;
	letter-spacing:0px;
	line-height: 18pt;
	float: left;
}

#inhoud5{
	width: 55%;
	padding-top: 50px;	
    margin-bottom: 80px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 16px;
	letter-spacing:0px;
	line-height: 18pt;
	float: left;
}


.image{
	width: 20%;
	margin-top: 0px;
    margin-left: 100px;	
    margin-bottom: 80px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 16px;
	letter-spacing:1px;
	line-height: 18pt;	
	float: left;
}

img{
	width: 100%;
}



.quote {
	margin-left: 10%;
	  margin-top: 30px;
	  margin-bottom: 30px;
	 line-height: 17pt;
	 letter-spacing:2px;
	
}

.eigenwerk {
	margin-top: 40px;
	margin-bottom: 10px;
	background-color: #bffff2;
	padding: 20px;
	line-height: 18pt;
}


u {
	margin-left: 10%;
	margin-top: 50px;
	}


#footnote{
	width: 100%;
	margin-right:auto;
    margin-left: auto;
    margin-bottom: 20px;
    margin-top: 20px;
	font-family: 'Work Sans', sans-serif;	
	font-size: 14px;
	letter-spacing:1px;
	line-height: 14pt;
	
}


#menu{
	font-family: 'Work Sans', sans-serif;	
	left: 60px;
	position: fixed;
    top: 0;
    height: 45px;
    z-index: 70;
    width: 100%;
    padding: 20;
    background: white;
 
}

#menu li {
    display: inline-block;
    margin: 18px 9px 0px 18px;
    text-align: left;
    color: #000;
    font-size: 13px;
}



.footer{
	font-family: 'Work Sans', sans-serif;	
	position: fixed;
	bottom: 15px;
	right: 15px;
	text-align: right;
	width: 250px;
	font-size: 10px;
	line-height: 10pt;
	letter-spacing: 0.04em;
}

.footertitelbottom{
	font-family: 'Work Sans', sans-serif;	
	position: fixed;
	bottom: 145px;
	left: -90px;
	text-align: left;
	width: 250px;
	font-size: 13px;
	line-height: 10pt;
	letter-spacing: 0.04em;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.footertiteltop{
	font-family: 'Work Sans', sans-serif;	
	position: fixed;
	top: 170px;
	left: -240px;
	text-align: left;
	width: 550px;
	font-size: 13px;
	line-height: 10pt;
	letter-spacing: 0.04em;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

 
h1 {
	font-size: 130px;
	line-height: 90pt;
	font-weight: normal;
	margin-left: auto;	
	margin-right: auto;	
	text-align: center;
		
}

h2 {
	font-size: 30px;
	line-height: 30pt;
	font-weight: normal;
	margin-left: auto;	
	margin-right: auto;	
	text-align: center;
}



sup { 
    line-height: 10pt;
    font-size: smaller;
}

.bijschrift {
	color: #898989;
	font-size: 10px;
	line-height: 10pt;
	
}























	 
@media screen and (min-width: 360px) and (max-width: 1290px) {	
	body, html {
	margin-top: 45px;
	margin-bottom: 0px;
	padding-right: 0%;
	padding-left: 35px;
	}
	
	.menu{
	font-family: 'Arimo', sans-serif;	
	left:0;
	text-align: center;
	position: fixed;
    top: 0;
    height: 45px;
    z-index: 70;
    width: 100%;
    padding: 0;
    background: white;
 
}

.menu li {
    display: inline-block;
    margin: 15px 0px 0px 10px;
    text-align: left;
    color: #000;
    font-size: 10px;
}

.menu li.active {
    border-bottom: solid;
    border-width: 1px;
}


	h1 {
	font-size: 130px;
	line-height: 90pt;
	font-weight: normal;
	margin-left: auto;	
	margin-right: auto;	
	text-align: center;
		
}

h2 {
	font-size: 30px;
	line-height: 30pt;
	font-weight: normal;
	margin-left: auto;	
	margin-right: auto;	
	text-align: center;
}

h3 {
	font-size: 16px;
	width: 600px;
	margin-left: auto;	
	margin-right: auto;	
	line-height: 18pt;
	font-weight: bold;
	letter-spacing:1px;
	text-align: center;
}

sup { 
    line-height: 6pt;
    font-size: smaller;
}

	.article{
	width: 75%;
	font-size: 14px;
	line-height: 14pt;
	}

	
	#footnote{
	width: 90%;
	margin-right:auto;
    margin-left: auto;
    margin-bottom: 20px;
	font-family: 'Arimo', sans-serif;	
	font-size: 12px;
	letter-spacing:1px;
	line-height: 12pt;
	
	}


}










@media screen and (min-width: 300px) and (max-width: 360px) {	
	 	body, html {
	margin-top: 45px;
	margin-bottom: 0px;
	padding-right: 0%;
	padding-left: 15px;
	
	}
	
	#sidetitle{
	display: none;
	}

	#multicover{
	display: none;
	}

	#menu{
	display: none;
	}

	.footer{
	display: none;
	}
	
	
.hoofdstuk{
	width: 100%;
	margin-top: -50px;
	margin-right:auto;
    margin-left: auto;	
    margin-bottom: 80px;	
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	letter-spacing:1px;
	line-height: 18pt;
}

.hoofdstuktitel{
	width: 75%;
	margin-left: 5%;
	padding-top: 80px;
	font-size: 20px;
	line-height: 22pt;
	font-weight: normal;
	float: left;

}

.inhoud	{
	width: 75%;
	padding-top: 20px;
	margin-right:auto;
    margin-left: auto;	
    margin-bottom: 40px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 11px;
	letter-spacing:0px;
	line-height: 12pt;
	float: left;
}

#inhoud1{
	width: 75%;
	padding-top: 20px;	
    margin-bottom: 40px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 12px;
	letter-spacing:0px;
	line-height: 12pt;
	float: left;
	
}

#inhoud2{
	width: 75%;
	padding-top: 20px;	
    margin-bottom: 40px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 11px;
	letter-spacing:0px;
	line-height: 12pt;
	float: left;
}

#inhoud3{
	width: 75%;
	padding-top: 20px;	
    margin-bottom: 40px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 11px;
	letter-spacing:0px;
	line-height: 12pt;
	float: left;
}

#inhoud4{
	width: 75%;
	padding-top: 20px;		
    margin-bottom: 40px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 11px;
	letter-spacing:0px;
	line-height: 12pt;
	float: left;
}

#inhoud5{
	width: 75%;
	padding-top: 20px;	
    margin-bottom: 80px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 11px;
	letter-spacing:0px;
	line-height: 12pt;
	float: left;
}


.image{
	width: 5%;
	margin-top: 0px;
    margin-left: 100px;	
    margin-bottom: 40px;	
	font-family: 'Work Sans', sans-serif;	
	font-size: 16px;
	letter-spacing:1px;
	line-height: 18pt;	
	float: left;
}

img{
	width: 100%;
}



.quote {
	margin-left: 10%;
	  margin-top: 30px;
	  margin-bottom: 30px;
	 line-height: 12pt;
	 letter-spacing:1px;
	
}

.footertitelbottom{
	font-family: 'Work Sans', sans-serif;	
	position: fixed;
	bottom: 145px;
	left: -105px;
	text-align: left;
	width: 250px;
	font-size: 12px;
	line-height: 10pt;
	letter-spacing: 0.04em;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.footertiteltop{
	font-family: 'Work Sans', sans-serif;	
	position: fixed;
	top: 80px;
	left: -255px;
	text-align: left;
	width: 550px;
	font-size: 12px;
	line-height: 10pt;
	letter-spacing: 0.04em;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
	 
	 }
